<!DOCTYPE html>
	<html>
		<head>
			<title>Jose Luis Elizondo</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main_start.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jose.elizondo033@gmail.com">email</a></li>
	        		<li><a href="https://github.com/JElizondo033">github.com/JElizondo033</a></li>
				</ul>
			</footer>
		</body>
	</html>
